<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
	{{#if page.canonicalUrl}}
	<link rel="canonical" href="{{page.canonicalUrl}}">
	{{/if}}
	{{#if page.description}}
	<meta name="description" content="{{page.description}}">
	{{/if}}
	{{#if page.keywords}}
	<meta name="keywords" content="{{page.keywords}}">
	{{/if}}
	{{#if (or antoraVersion site.antoraVersion)}}
	<meta name="generator" content="Antora {{or antoraVersion site.antoraVersion}}">
	{{/if}}
	<link rel="stylesheet" href="{{uiRootPath}}/css/site.css?v-01">
{{> head}}
  </head>
  <body class="home">
  	<article class="home-content">
  		<img class="homepage-logo" src="{{uiRootPath}}/img/cloudflow-full-color.svg">
	  	<p>Cloudflow enables users to quickly develop, orchestrate, and operate distributed streaming applications on Kubernetes. Cloudflow allows you to easily break down your streaming application to smaller composable components and wire them together with schema-based contracts.</p> <p>Cloudflow integrates with popular streaming engines like Akka, Spark and Flink. It also comes with a powerful CLI tool to easily manage, scale and configure you streaming applications at runtime. With its powerful abstractions Cloudflow allows to define, build and deploy the most complex streaming applications.</p>

		<p>In a nutshell, Cloudflow is an application development toolkit composed of:</p>
		<ul>
			<li>An API definition for <code>Streamlet</code>, the core abstraction in Cloudflow.</li>
			<li>An extensible set of runtime implementations for <code>Streamlet</code>(s). Cloudflow provides support for popular streaming runtimes, like Spark's Structured Streaming, Flink, and Akka.</li>
			<li>A <code>Streamlet</code> composition model driven by a <code>blueprint</code> definition.</li>
			<li>A sandbox execution mode that accelerates the development and testing of your applications.</li>
			<li>A set of <code>sbt</code> plugins that are able to package your application into a deployable container.</li>
			<li>The Cloudflow operator, a Kubernetes operator that manages the application lifecycle on Kubernetes.</li>
			<li>A CLI, in the form of a <code>kubectl</code> plugin, that facilitates manual and scripted management of the application.</li>
		</ul>

		<p>The different parts of Cloudflow work in unison to dramatically accelerate your application development efforts, reducing the time required to create, package, and deploy an application from weeks to hours.</p>
	  	<div class="btn-panels">
	  		<a class="btn-panel" href="/docs/">
	  			<span>
	  				<h3><img class="" src="{{uiRootPath}}/img/cloudflow-icon-square-lockup-full-color.svg">Documentation</h3>
	  			</span>
	  		</a> 
		  	<a class="btn-panel" href="https://github.com/lightbend/cloudflow">
		  		<span>
		  			<h3><img class="" src="{{uiRootPath}}/img/github.svg">Contribute</h3>
		  		</span>
		  	</a>
		  	<a class="btn-panel" href="https://www.lightbend.com/conduct">
		  		<span>
		  			<h3><img class="" src="{{uiRootPath}}/img/code-of-conduct.svg">Code of Conduct</h3>
		  		</span>
		  	</a>
	  	</div>
  	</article>
  	<footer class="footer">
  		<img class="cloudflow-icon" src="{{uiRootPath}}/img/cloudflow-icon-full-color-flush.svg">
		{{> footer-privacy}}
	</footer>
  </body>
</html>